[metadata]
name = "git-repos"
requirements = ["fd", "git"]
description = """
A channel to select from git repositories on your local machine.

This channel uses `fd` to find directories that contain a `.git` subdirectory, and then allows you to preview the git log of the selected repository.
"""

[source]
command = "find ~ -maxdepth 5 -name '.git' -type d 2>/dev/null -exec dirname {} \\; | grep -v -E '\\.cache|\\.npm|\\.bun|node_modules|snap'"
display = "{split:/:-1}"

[preview]
command = "cd '{}'; git log -n 200 --pretty=medium --all --graph --color"
