# Git Configuration - Managed by chezmoi
[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	pager = delta
{{- if eq .chezmoi.os "darwin" }}
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
{{- end }}

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha

[merge]
	conflictstyle = zdiff3

[diff]
	colorMoved = default

[credential "https://github.com"]
	helper = 
{{- if eq .chezmoi.os "darwin" }}
	helper = !{{ .paths.darwin.gh }} auth git-credential
{{- else }}
	helper = !{{ .paths.linux.gh }} auth git-credential
{{- end }}

[credential "https://gist.github.com"]
	helper = 
{{- if eq .chezmoi.os "darwin" }}
	helper = !{{ .paths.darwin.gh }} auth git-credential
{{- else }}
	helper = !{{ .paths.linux.gh }} auth git-credential
{{- end }}

{{- if eq .chezmoi.os "darwin" }}

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = {{ .chezmoi.homeDir }}/.stCommitMsg
{{- end }}
